{% include header.html %}
<div class="container">
	<div class="profile">
		<a href="{{ site.url }}"><img src="{{site.author.picture}}" class="profile-image" alt="Elian Rieza"></a>
		<div class="profile-about">
			<h1 style="margin-bottom: 0; font-weight: 700;">{{site.author.name}}</h2>
      {% if site.author.email %}
				<a href="javascript:void(0);" onclick="var textarea=document.createElement('textarea');textarea.value='e.i_ri3za@tuta.io';document.body.appendChild(textarea);textarea.select();document.execCommand('copy');document.body.removeChild(textarea);alert('Email copied to clipboard: e.i_ri3za [at] tuta.io');"><img src="assets/images/icon/github.svg" class="social-icon" alt="Email Icon"></a>
			{% endif %}
      {% if site.author.twitter %}
				<a href="https://twitter.com/nail-e" target="_blank"><img src="assets/images/icon/twitter.svg" class="social-icon" alt="Mastodon Icon"></a>
			{% endif %}
			{% if site.author.youtube %}
				<a href="https://youtube.com/@{{site.author.youtube}}" target="_blank"><img src="assets/images/icon/youtube.svg" class="social-icon" alt="YouTube Icon"></a>
			{% endif %}
			{% if site.author.github %}
				<a href="https://github.com/{{site.author.github}}" target="_blank"><img src="assets/images/icon/github.svg" class="social-icon" alt="Github"></a>
			{% endif %}
			{% if site.author.linkedin %}
				<a href="https://linkedin.com/in/{{site.author.linkedin}}" target="_blank"><img src="assets/images/icon/linkedin.svg" class="social-icon" alt="LinkedIn Icon"></a>
			{% endif %}
			<a href="about"><img src="assets/images/icon/me.svg" class="social-icon" alt="About Me Icon"></a>
      <a href=""><img src="assets/images/icon/me.svg" class="social-icon" alt="URL Icon"></a>
			<br>
			{{ site.author.bio }}
			<br>
			<div id="mode-switcher" onclick="toggleNightMode();">
				<span></span>
			</div>
		</div>
	</div>
	{{ content }}
	</div>
{% include footer.html %}
